[Unit]
Description=IPv6 Enablement
[Service]
Environment=HOME=/root
Type=oneshot
RemainAfterExit=false
TimeoutSec=15m
WorkingDirectory=/data/udm-v6
ExecStart=/data/udm-le/udm-v6.sh renew
